.back {
  width: 435%;
  height: 100%;
  background-image: url('../images/Back.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.logo{
  width: 130px;
  position:absolute;
  top:-65px;

}

.loginPageTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #1976d2;
  margin-bottom: 2rem;
}

.form {
  transform: translate(-13%, -0%);
  background-color: white; 
  width: 100%;
  padding: 3rem; 
  margin: 3rem ; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  height: 60vh;
}

.text {
  width: 100%;
  margin-top: 0rem !important;
  padding: 0.8rem;
  
  border-radius: 5px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin-top: 3rem ;
}

.loginBtn {
  font-size: 0.9rem;
  margin-right: 0.5rem;
  margin-top: 1.7rem!important;
  margin-bottom: 2rem;
  color: #fff;
  border: 1px solid #1976d2;
  border-radius: 4px;
  background-color: #1976d2;
  padding: 0.3rem 1rem;
  transition: color 0.3s, background-color 0.3s;
}

.signupBtn {
  font-size: 0.9rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
  color: #1976d2;
  border: 1px solid #1976d2;
  border-radius: 4px;
  background-color: #fcfdff;
  padding: 0.3rem 1rem;
  transition: color 0.3s, background-color 0.3s;
}

.loginBtn:hover, .signupBtn:hover {
  color: #1976d2;
  background-color: #fff;
  border: 1px solid #1976d2;
}

.error {
  color: red;
  margin-top: 1rem;
}

