html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif; /* または 'Roboto Condensed', sans-serif */
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center; 
  align-items: center; 
  
  width: 96.3vw; 
  height: 100vh; 

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.back {
  flex: 1 2 auto; 
  width: 150%;
  height: 100vh; 
  background-color: gray;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPageTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 4rem;
}

.errorContainer {
  min-height: 50px; 
  padding: 0.5rem;
  background-color: transparent; 
  border-radius: 5px;
  color: #721c24; 
  font-weight: bold; 
  margin-bottom: 1rem;
  transition: background-color 0.3s ease; 
  font-size: 1.3rem;
}

.errorContainer p {
  background-color: #f8d7da; 
  margin: 0;
}


.styledPaper {
  margin-left: 6rem;
  max-width: 500px; 
  width: 100%; 
  padding: 20px;
  height: auto;
  background-image: url('../images/form4.png'); 
  background-size: cover; 
  background-position: center; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; 
  align-items: center;
}

.form {
  width: 100%; 
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box; 
  
}

.text {
  background-color: #fff;
  width: 100%;
  margin-top: 0rem !important;
  padding: 0.8rem;
  margin-bottom: 2rem ;
  border-radius: 10px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
}

.buttonContainer {
  width: 100%; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin-top: 3rem ;
}

.signupBtn {
  font-size: 1.1rem;
  margin-top: 5rem;
  margin-bottom: 0rem;
  border-radius: 4px;

  padding: 0.3rem 1rem;
  transition: color 0.3s, background-color 0.3s;
}

.loginBtn:hover, .signupBtn:hover {
  color: #1976d2;
  background-color: #fff;
  border: 1px solid #1976d2;
}

.error {
  color: red;
  margin-top: 1rem;
}

