html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif; /* または 'Roboto Condensed', sans-serif */
  box-sizing: border-box;
}


/* 中央揃えの親コンテナ */
.main {
  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  
  width: 96.3vw; /* ビューポート全幅 */
  height: 100vh; /* ビューポート全高 */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.back {
  flex: 1 2 auto; /* フレックスアイテムとして振る舞わせる */
  width: 150%;
  height: 100vh; /* ビューポート全体をカバー */
  background-color: gray;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPageTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 4rem;
}

.errorContainer {
  min-height: 50px; /* エラーメッセージ用のスペースを確保 */
  padding: 0.5rem;
  background-color: transparent; /* 初期状態では背景色を透明に */
  border-radius: 5px;
  color: #721c24; /* エラーメッセージの文字色（暗い赤） */
  font-weight: bold; /* 文字を太字にする */
  margin-bottom: 1rem;
  transition: background-color 0.3s ease; /* 背景色のアニメーション */
  font-size: 1.3rem;
}

/* エラーメッセージが表示されると背景色を変更 */
.errorContainer p {
  background-color: #f8d7da; /* エラーメッセージ用の背景色 */
  margin: 0;
}


.styledPaper {
  margin-left: 6rem;
  max-width: 500px; /* フォームの最大幅 */
  width: 100%; /* 幅は100%に設定 */
  padding: 20px;
  height: auto;
  background-image: url('../images/form4.png'); /* 背景画像 */
  background-size: cover; /* 画像をフォームのサイズに合わせてカバー */
  background-position: center; /* 背景画像を中央に配置 */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; /* パディングを含めた幅 */
  align-items: center;
}

.form {
  width: 100%; /* フォームの幅を親に合わせる */
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box; /* パディングを含めた幅 */
  
}

/* テキストフィールドのスタイル */
.text {
  background-color: #fff;
  width: 100%;
  margin-top: 0rem !important;
  padding: 0.8rem;
  margin-bottom: 2rem ;
  border-radius: 10px;
  box-sizing: border-box;
}



/* ボタンの共通スタイル */
.btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
}

/* ボタンの親コンテナに中央揃えを適用 */
.buttonContainer {
  width: 100%; 
  display: flex;
  flex-direction: column; /* 縦並びに配置 */
  align-items: center; /* 水平中央揃え */
  justify-content: center; /* 垂直中央揃え */
  margin-top: 3rem ;
}


/* サインアップボタン */
.signupBtn {
  font-size: 1.1rem;
  margin-top: 5rem;
  margin-bottom: 0rem;
  border-radius: 4px;

  padding: 0.3rem 1rem;
  transition: color 0.3s, background-color 0.3s;
}

/* ホバー時のボタンスタイル */
.loginBtn:hover, .signupBtn:hover {
  color: #1976d2;
  background-color: #fff;
  border: 1px solid #1976d2;
}


/* エラーメッセージ */
.error {
  color: red;
  margin-top: 1rem;
}

